.well(id='block#{block.block}chain#{block.chain}well')
  form.form-horizontal
    h2 
      
      text Block ##{block.block}
      i(id='block#{block.block}chain#{block.chain}icon')

    fieldset.header
      legend Header

      .form-group
        label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}nonce') Nonce:
        .col-sm-10
          input.form-control(id='block#{block.block}chain#{block.chain}nonce', type='text', value='#{block.nonce}', onkeyup='updateChain(#{block.block}, #{block.chain});')



      #state.form-group
        label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}previous') Prev. Hash:
        .col-sm-10
          input.form-control(id='block#{block.block}chain#{block.chain}previous', type='text', value='#{block.previous}')

      #state.form-group
        label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}data') Hash Tree over Data:
        .col-sm-10
          input.form-control(id='block#{block.block}chain#{block.chain}data', type='text', value='#{block.data}')


    fieldset.data
      legend Payload

      .form-group
        label.col-sm-2.control-label Coinbase:
        .col-sm-10
          .input-group
            .input-group-addon
              i.demo-icon.icon-bitcoin
            input.form-control(id='block#{block.block}chain#{block.chain}coinbasevalue', type='text', value='#{block.coinbasevalue}', onkeyup='updateChain(#{block.block}, #{block.chain});')
            .input-group-addon
              i.demo-icon.icon-right-big
            input.form-control(id='block#{block.block}chain#{block.chain}coinbaseto', type='text', value='#{block.coinbaseto}', onkeyup='updateChain(#{block.block}, #{block.chain});')


      .form-group
        label.col-sm-2.control-label Tx:
        .col-sm-10(id="block#{block.block}chain#{block.chain}txData")
          - var index = 0;
          - each tx, x in block.txs
            .input-group
              .input-group-addon #{__('id')}
              input.form-control(id='block#{block.block}chain#{block.chain}tx#{x}id', style='width:48px;', type='text', value='#{index}')
              .input-group-addon
                i.demo-icon.icon-bitcoin
              input.form-control(id='block#{block.block}chain#{block.chain}tx#{x}value', type='text', value='#{tx.value}', onkeyup='updateChain(#{block.block}, #{block.chain}); calcHash(#{block.block}, #{block.chain});')
              .input-group-addon
                i.demo-icon.icon-user
              input.form-control(id='block#{block.block}chain#{block.chain}tx#{x}from', type='text', value='#{tx.from}', onkeyup='updateChain(#{block.block}, #{block.chain}); calcHash(#{block.block}, #{block.chain});')
              .input-group-addon
                i.demo-icon.icon-right-big
              input.form-control(id='block#{block.block}chain#{block.chain}tx#{x}to', type='text', value='#{tx.to}', onkeyup='updateChain(#{block.block}, #{block.chain}); calcHash(#{block.block}, #{block.chain});')
            - index += 1;



    #state.form-group.mine-field

      label.col-sm-2.control-label(for='block#{block.block}chain#{block.chain}hash') Hash over Header:
      .col-sm-10

 
          input.form-control(id='block#{block.block}chain#{block.chain}hash', type='text' )

          i.icon-spinner.icon-spin.icon-large
          button.btn.btn-primary.ladda-button(id='block#{block.block}chain#{block.chain}mineButton', data-style='expand-right')
            span.ladda-label #{__('Mine')}
