.well(id='block1chain2well')
  form.form-horizontal
    h2
      i.demo-icon.icon-wrench
      text Michael

    fieldset.header
      legend Header

      .form-group
        label.col-sm-2.control-label(for='block1chain2nonce') Nonce:
        .col-sm-10
          input.form-control(id='block1chain2nonce', type='text', value='0', onkeyup='updateChain(1, 2);')

      #state.form-group
        label.col-sm-2.control-label(for='block1chain2previous') Prev. Hash:
        .col-sm-10
          input.form-control(id='block1chain2previous', type='text', value='#{block.previous}')

      #state.form-group
        label.col-sm-2.control-label(for='block1chain2data') Hash Tree over Data:
        .col-sm-10
          input.form-control(id='block1chain2data', type='text', value='#{block.previous}')


    fieldset.data
      legend Payload

      .form-group
        label.col-sm-2.control-label Coinbase:
        .col-sm-10
          .input-group
            .input-group-addon $
            input.form-control(id='block1chain2coinbasevalue', type='text', value='#{block.coinbasevalue}', onkeyup='updateChain(1, 2);')
            .input-group-addon -&gt;
            input.form-control(id='block1chain2coinbaseto', type='text', value='#{block.coinbaseto}', onkeyup='updateChain(1, 2);')


      .form-group
        label.col-sm-2.control-label Tx:
        .col-sm-10(id="minerblockTx")
          - var index = 0;
          - each tx, x in block.txs
            .input-group
              .input-group-addon #{__('id')}
              input.form-control(id='block1chain2tx#{x}id', style='width:48px;', type='text', value='#{index}')
              .input-group-addon #{__('$')}
              input.form-control(id='block1chain2tx#{x}value', type='text', value='#{tx.value}', onkeyup='updateChain(1, 2);')
              .input-group-addon #{__('From')}:
              input.form-control(id='block1chain2tx#{x}from', type='text', value='#{tx.from}', onkeyup='updateChain(1, 2);')
              .input-group-addon -&gt;
              input.form-control(id='block1chain2tx#{x}to', type='text', value='#{tx.to}', onkeyup='updateChain(1, 2);')
            - index += 1;



    #state.form-group.mine-field

      label.col-sm-2.control-label(for='block1chain2hash') Hash over Header:
      .col-sm-10

          input.form-control(id='block1chain2hash', type='text' )
          .btn-toolbar
            i.icon-spinner.icon-spin.icon-large
            button.btn.btn-primary.ladda-button(id='block1chain2mineButton', data-style='expand-right', onclick="txMineBlock();", type="button")
              span.ladda-label #{__('Mine')}

            button.btn.btn-primary( onclick="mineNewBlock();", type="button")
              span Broadcast
